/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(136deg, #E3A6FF 3.46%, #640E8B 19.78%, #030303 48.01%, #261D7B 78.44%, #0500FF 91.68%);
  color: #fff;
  text-align: center;
  padding: 30px;
}

footer {
  background: linear-gradient(136deg, #E3A6FF 3.46%, #640E8B 19.78%, #030303 48.01%, #261D7B 78.44%, #0500FF 91.68%);
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  text-align: center;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.des{
align-items: center;
}



.video-container {
  margin-bottom: 20px;
  width: 100%; /* 동영상을 꽉 차게 만듭니다. */
}

.video-container iframe {
  width: 100%;
  height: 400px; /* 동영상의 높이를 조정하세요 */
}



.description {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 100%; /* 설명을 꽉 차게 만듭니다. */
  max-width: 600px; /* 최대 너비 설정 */
}

/* Day.css */
.navbar {
  background: linear-gradient(136deg, #E3A6FF 3.46%, #640E8B 19.78%, #030303 48.01%, #261D7B 78.44%, #0500FF 91.68%);
  font-size: 14px;
  font-weight: bold;
  color: white;}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff; /* 네비게이션 링크 텍스트 색상을 흰색으로 설정 */
}


.navbar-toggler {
  text-decoration: "Home";
  border-color: #ffffff; }



.button {
  border: 0.1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(136deg, #E3A6FF 3.46%, #640E8B 19.78%, #030303 48.01%, #261D7B 78.44%, #0500FF 91.68%);
  position: relative;
  overflow: hidden;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}


.button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -150%;
  width: 300%;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  animation: shine 5s linear infinite;
  transform: rotate(30deg);
}
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
